
input:required:invalid {
	background-color: red;
}

input[type="email"]:valid {
	background-color: green;
}

input[type="url"]:valid {
	background-color: green;
}

input[type="url"]:invalid {
	background-color: red;
}
